/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.background-content-dashboard {
  /* background-color: #fff !important; */
  padding: 20px;
  margin: 60px;
  border-radius: 10px;
}
.quill {
  height: 60vh !important;
}
.all-label {
  font-size: 24px !important;
  margin-bottom: -30px !important;
}
.event-select {
  width: 100% !important;
}
.title-top {
  font-size: 32px;
}
/* .ql-container.ql-snow {
  height: 200px !important;
} */
/* .button-submit {
  background-image: linear-gradient(
    to right,
    #77a1d3 0%,
    #79cbca 51%,
    #77a1d3 100%
  ) !important;
}
.button-submit:hover {
  background-position: right center !important;
} */
